[Unit]
Description=Patrilog Catalog Web
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/patrilog-catalog-web
ExecStart=/bin/python3 /var/www/patrilog-catalog-web/server.py
WorkingDirectory=/var/www/patrilog-catalog-web
Restart=always

[Install]
WantedBy=multi-user.target
